* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.odin-title {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.center-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.back-to-home {
    text-align: center;
    font-size: x-large;
}