* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.odin-title {
    text-align: center;
    margin-bottom: 40px;
}


.recipe-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}

a {
    text-decoration: none;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.recipe-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.center-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.back-to-home {
    text-align: center;
    font-size: x-large;
}